.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

.container {
  max-width: 1440px;
  padding: 5px 1.25rem;
  height: 62px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  background-image: url('/images/logo.svg');
  background-size: 100% 100%;
  width: 144px;
}

.logoLink {
  display: block;
  height: 30px;
  text-indent: -9999px;
  overflow: hidden;
}

.burger {
  background: url('/icons/burger.svg');
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  overflow: hidden;
  border: none;
  padding: 0;
}

.mobileMenu {
  position: fixed;
  right: 0;
  top: 0;
  max-height: 100%;
  min-height: 100vh;
  transform: translateX(100%);
  opacity: 0;
  border-radius: 0;
  width: 334px;
  z-index: 101;
  background-color: white;
  transition: transform 0.2s cubic-bezier(0, 0, 0.4, 1) 0.1s,
    opacity 0.2s cubic-bezier(0, 0, 0.4, 1) 0.1s;
}
