#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #146ec4;
}

.header__container {
  max-width: 1440px;
  padding: 5px 1.25rem;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  background-image: url('/images/logo.svg');
  background-size: 100% 100%;
  width: 107px;
  height: 23px;
}

.logo__link {
  display: block;
  height: 100%;
  text-indent: -9999px;
  overflow: hidden;
}

.burger {
  background: url('/icons/burger.svg');
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  overflow: hidden;
  border: none;
  padding: 0;
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  padding-top: 63px;
  transform: translateX(100%);
  opacity: 0;
  border-radius: 0;
  width: 334px;
  z-index: 101;
  background-color: white;
  transition: transform 0.2s cubic-bezier(0, 0, 0.4, 1) 0.1s,
    opacity 0.2s cubic-bezier(0, 0, 0.4, 1) 0.1s;
}

.mobile-menu__btn-holder {
  padding: 21px 25px 29px;
  background-color: white;
  border-bottom: 1px solid #e6e8eb;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.mobile-menu__close {
  display: block;
  margin-left: auto;
  background: url('/icons/close.svg');
  background-size: 100% 100%;
  width: 12px;
  height: 12px;
  text-indent: -9999px;
  overflow: hidden;
  border: none;
  padding: 0;
  cursor: pointer;
}

.mobile-menu--scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 63px);
}

.mobile-menu__links {
  padding: 29px 29px 24px;
}

.mobile-menu__list {
  font-weight: 500;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.mobile-menu__list a {
  text-decoration: none;
  color: #222f2c;
}

.mobile-menu__list .bitcoin a {
  color: #0ba198;
}

.mobile-menu__list .bitcoin a:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  margin: -2px 8px 0 0;
  background: url('/icons/bitcoin.svg');
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}

.mobile-menu_user-links {
  padding: 24px 20px 24px;
  border-top: 1px solid #e6e8eb;
  display: flex;
  gap: 26px;
  flex-direction: column;
}

/* buttons */
.btn {
  display: inline-block;
  font-size: 1rem;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  height: 3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 20px;
  border-radius: 10px;
  transition: all 0.3s linear;
}

.btn:focus {
  outline: 0;
}

.btn-primary {
  color: #fff;
  background-color: #146ec4;
  border-color: #146ec4;
}

.mobile-menu .btn {
  width: 100%;
  font-weight: 500;
}
