.visual-box {
  min-height: calc(80vh);
  padding: 20px 0 30px;
  // background: url('/images/visual.jpg') no-repeat 50% 50%;
  // background-size: cover;
  background: #855dbb;
  background: linear-gradient(180deg, rgba(236, 82, 121, 1) 0%, rgba(27, 105, 254, 1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 1280px) {
    min-height: 450px;
  }

  img {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 30px auto 0;
  }
}

.visual-box__title {
  color: #ffffff;
  font-size: 36px;
  line-height: 1.35;
  text-align: center;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 60px;
  }

  @media (min-width: 1280px) {
    font-size: 80px;
  }
}
