* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 1em/19px Emoji Chrome mac os, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color: #222f2c;
}

a {
  color: #146ec4;
  text-decoration: none;
  transition: all 0.1s linear;

  &:hover:not(.btn) {
    text-decoration: none;
    color: #05447f;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: rgb(0, 0, 0, 0.6);
  transition: opacity 0.6s cubic-bezier(0, 0, 0.4, 1);
  opacity: 0;
  overflow: hidden;
  z-index: 100;
}

.overlay.active {
  opacity: 1;
}

#wrapper {
  padding-top: 63px;

  @media (min-width: 768px) {
    padding-top: 55px;
  }

  @media (min-width: 1280px) {
    padding-top: 63px;
  }
}
